html {
  --font-header: 'Oswald', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-mono: 'Fira Mono', monospace;
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3 {
  font-family: var(--font-header);
}

code,
pre {
  font-family: var(--font-mono);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

button,
input,
select,
textarea {
  color: var(--color-text);
  border-color: var(--color-border);
}

aside {
  background-color: var(--color-sidebar);
  color: var(--color-text);
}

header {
  background-color: var(--color-header);
  color: var(--color-header-text);
}
