/* theme-athletic.css */
.theme-athletic {
  --font-header: 'Oswald', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-mono: 'Share Tech Mono', monospace;

  --color-bg: #f4f4f5; /* bg-zinc-100 */
  --color-text: #e4e4e7; /* text-zinc-200 */
  --color-accent: #f97316; /* text-orange-500 */
  --color-border: #a1a1aa; /* border-zinc-400 */
  --color-sidebar: #18181b; /* bg-zinc-900 */
  --color-header: #ffffff; /* text-white */
}
