.theme-tech {
  --font-header: 'Orbitron', sans-serif;
  --font-body: 'Roboto', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --color-bg: #000000; /* bg-black */
  --color-text: #d1d5db; /* text-gray-300 */
  --color-accent: #22d3ee; /* text-cyan-400 */
  --color-border: #374151; /* border-gray-700 */
  --color-sidebar: #0f172a; /* bg-gray-950 */
  --color-header: #a3e635; /* text-lime-400 */
}
