:root {
  /* Fonts */
  --font-header: 'Oswald', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-mono: 'Fira Mono', monospace;

  /* Colors */
  --color-bg: #ffffff;
  --color-text: #1f2937;
  --color-accent: #032f3c;
  --color-border: #d1d5db;
  --color-sidebar: #046169;
  --color-header: #0f172a;
  --color-header-text: #ffffff;

  --color-sidebar-text: #ffffff;
  --color-sidebar-icon: #ffffff;
}
